.jumbotron {
    margin-top: 20px;
    width: auto;
    background-image: url("../../../media/banner_two.jpg");
    background-size: cover;
    background-position: top;
}

.jumbotron > h1 {
    font-size: 64px;
    line-height: 0.97;
    letter-spacing: -3.5px;
    font-weight: 600;
}