.searchResult {
    margin: 20px;
}

.searchResult__header {
    padding-bottom: 20px;
}
.searchResult__header > span {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;
}